@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
  background-color: rgb(201, 252, 222);
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: large;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: right;
  height: 100px;
  background-color: rgb(201, 252, 222);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav-container {
  margin-left: auto; 
  margin-right: 20px; 
  padding: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  
}

.nav-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-buttons li {
  display: inline-block;
  margin-right: 20px;
}

.nav-buttons a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.nav-buttons a:hover {
  background-color: #a8eeb7;
  color: #292121;
  border-color: #1dcf43;
}

.image-container {
  width: 40%; 
  float: left; 
  margin-right: 20px; 
  padding: 20px; 
  padding-left: 80px;
}

.image-container img {
  width: 75%; 
  height: auto; 
  border-radius: 10px; 
}


.article-container {
  width: 50%;
  margin-left: auto; 
  margin-right: 20px; 
  padding: 20px;
  background-color: rgb(201, 252, 222);
  border-radius: 10px;
  margin-bottom: 20px;
}


.article-header {
  text-align: left;
}

.article-title {
  font-size: 3.1rem;
  font-weight: bold;
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-content {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 20px;
}

.photography-section {
  margin-bottom: 30px;
}

.macrame-section {
  margin-bottom: 0;
}

.footer-container {
  width: 100%;
  background-color: rgb(201, 252, 222);;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  font-size: 1.5rem;
  color: #666;
}